@model PersonViewModel

@{
    ViewData["Title"] = "Profile View";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div id="photo" class="col-md-3"  ><div id="malesil"></div></div>
    <div class="col-md=6 col-md-offset-3 top-small-buffer">
        <div>Name: @Model.FullName</div>
        <div>Email: @Model.Email</div>
        <div>Sex: @Model.Sex</div>
        <div>Nickname: @Model.NickName</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" >
        <div></div>
    </div>
    <div class="col-md-4">
        <div></div>
    </div>
    <div class="col-md-4">
        <div></div>
    </div>
</div>